/* Small (sm) - 640px and up */
@media screen and (min-width: 576px) {
  .contact-link {
    width: 48% !important;
  }
}

@media screen and (min-width: 768px) {
  .navbar {
    .navbar-collapse {
      flex-grow: 0;
      flex-basis: auto;
    }
  }
}

/* Medium (md) - 768px and up */
@media screen and (min-width: 992px) {
}

@media screen and (min-width: 1200px) {
}
